[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
pylint = "*"

[packages]
django = "*"
mongoengine = "*"
mongoadmin = "*"
django-mongodbforms = "*"
django-rest-framework = "*"
django-rest-framework-mongoengine = "*"
coreapi = "*"
pyyaml = "*"
coreapi-cli = "*"

[requires]
python_version = "3.7"
